<div class="row">

  <div class="col p-0 animate-opacity {{getStateClass()}}">
    <x-chartist class="chart" [type]="type" [data]="data" [options]="options">
    </x-chartist>
  </div>

  <div class="label-outside-container col">
    <div class="label-inside-container">
      <div class="mb-1">
        <span class="label-color donut-serie-1">
          &nbsp;
        </span>
        <span>
          Pago
        </span>
      </div>
      <div class="mb-1">
        <span class="label-color donut-serie-2">
          &nbsp;
        </span>
        <span>
          Não Pago
        </span>
      </div>
      <div class="mb-1">
        <span class="label-color donut-serie-0">
          &nbsp;
        </span>
        <span>
          Indisponível
        </span>
      </div>
    </div>
  </div>

</div>
